h1{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:65%;
    align-items: center;
    justify-content: center;
    color:ivory;
    text-shadow: 1px 1px 2px black;
    background-color:rgba(3, 97, 247,.75);
    text-align: center;
    border-style: solid;
    border-width:2px;
    border-radius:10px
}
/* Dropdown Button */
.dropbtn {
    background-color: rgba(3, 97, 247.75);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-style: solid;
    border-width:2px;
    border-radius:10px
}

/* The container <div> - needed to position the dropdown content */
.div-dropDown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.div-dropDown:hover .dropdown-content {
    display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.div-dropDown:hover .dropbtn {
    /* background-color: rgb(3, 97, 247); */
    visibility:hidden;
}
.inputFields{
    margin-top:15px;
    padding: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(3, 97, 247,.75);
    border-style:solid;
    border-width:2px;
    border-radius:10px;
    border-color:ivory;
}
body, html {
    height: 100%;
    background-image: url(images/wall_of_books.jpg)
}
.builder{
    margin-top:15px;
    padding: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(3, 97, 247,.75);
    color:ivory;
    font-size: 1.75rem;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    border-style: solid;
    border-width:2px;
    border-radius:10px
}